<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="script.js"></script>
</head>
<body>
<span th:text="${testVar}"></span>
<!--<h1>What's your name? </h1>-->
<!--<form id="inputForm">-->
<!--    <label for="inputString">Enter a string:</label>-->
<!--    <input type="text" id="inputString" name="inputString">-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->
<div id="result"></div>

</body>
</html>